/* ========= google font ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* =========== common css ======= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--fontHC);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--fontHC);
}

h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white {
    color: var(--bg);
}


p {
    color: var(--praColor);
    margin-bottom: 0;
}

p.white {

    color: var(--bg);

}

a {
    text-decoration: none;
}

a.white {
    color: var(--bg);
}

:root {
    --primaryC: #009e66;
    --fontHC: #F0F0F0;
    --praColor: #9F9F9F;
    --bg: #101011;
}

/* =========== pre loader =========== */
.preloader__main {
    background: #101011;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader {
    position: fixed;
    width: 84px;
    height: 84px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.preloader span {
    display: block;
    width: 35px;
    height: 8px;
    border-radius: 4px;
    background: #009e66;
    position: absolute;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

.preloader span:nth-of-type(4n - 3) {
    left: 24.5px;
    -webkit-animation-name: rotate1;
    animation-name: rotate1;
}

.preloader span:nth-of-type(3) {
    left: 2px;
}

.preloader span:nth-of-type(7) {
    right: 2px;
}

.preloader span:nth-of-type(4n-1) {
    top: 24.5px;
    width: 8px;
    height: 35px;
    -webkit-animation-name: rotate1;
    animation-name: rotate1;
}

.preloader span:nth-of-type(5) {
    bottom: 0;
}

.preloader span:nth-of-type(4n - 2) {
    transform: rotate(-45deg);
    -webkit-animation-name: rotate2;
    animation-name: rotate2;
}

.preloader span:nth-of-type(2) {
    top: 12px;
}

.preloader span:nth-of-type(6) {
    bottom: 12px;
    right: 0;
}

.preloader span:nth-of-type(4n) {
    transform: rotate(45deg);
    -webkit-animation-name: rotate3;
    animation-name: rotate3;
}

.preloader span:nth-of-type(4) {
    bottom: 12px;
}

.preloader span:nth-of-type(8) {
    top: 12px;
    right: 0;
}

@-webkit-keyframes rotate1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes rotate2 {
    from {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(135deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(135deg);
    }
}

@-webkit-keyframes rotate3 {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(225deg);
    }
}

@keyframes rotate3 {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(225deg);
    }
}

/* ============= navbar section start ============= */
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-toggler-icon {
    background-image: url(../images/bars.svg);
    transition: all linear 0.5s;
}

.navbar-toggler-icon.navbar_close {
    background-image: url(../images/xmark-solid.svg);
}

.navbar__hide {
    opacity: 0;
    visibility: hidden;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0px;
    box-shadow: none;
}

.navbar-brand {
    color: var(--primaryC);
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--primaryC) !important;
    opacity: 0.7 !important;
}

.nav-link {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
    color: #fff;
    opacity: 0.8;
}



/* ================ navbar section end ============== */
#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/svgbg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#banner.white {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/svgbgWhite.svg);
}
#banner.black {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/svgbg.svg);
}

#banner .container {
    position: relative;
}

.banner__main__heading {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.banner__sub__heading {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.banner__icons {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    right: 0;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.banner__link__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.banner__link {
    font-size: 25px;
    color: #fff;
}

.banner__link:hover {
    opacity: 0.7;
}

/* ============= banner section start ============= */

/* ================ about section end ============== */
#about,
#resume,
#portfolio,
#blog,
#contact {
    background: var(--bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    z-index: -9999;
    transition: all linear 0.5s;
    padding-top: 100px;
}
#about.white,
#resume.white,
#portfolio.white,
#blog.white,
#contact.white {
    background: var(--fontHC);
}

#about.about__top,
#resume.resume__top,
#portfolio.portfolio__top,
#blog.blog__top,
#contact.contact__top {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    overflow-y: scroll;
}

.close__btn {
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 5%;
    color: #fff;
    font-size: 35px;
    font-style: italic;
    cursor: pointer;
    z-index: 100;
    transition: all linear 0.1s;
}

.close__btn:hover,
.close__btn:focus {
    color: red;
    font-size: 33px;
}

#about {
    overflow-x: hidden;
}

.common__headin__title {
    font-size: 15px;
    color: var(--praColor);
}

.common__heding__head {
    font-size: 46px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: -0.25;
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 70px;
    background: var(--primaryC);

}

.about__who {
    font-size: 24px;
    font-weight: 500;
    color: var(--primaryC);
}

.about__who__details {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
}

.about__icon {
    margin-left: 60px;
    position: relative;
}

.about__icon:after {
    content: "";
    position: absolute;
    left: -85px;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    width: 60px;
    background: var(--praColor);
}

.about__details {
    font-size: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, .08);
    font-weight: 400;
    line-height: 1.95;
}

.about__contact h5 {
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
}

.about__contact span {
    font-size: 15px;
    color: var(--praColor);
}

.about__email a {
    color: var(--primaryC);
}

.about__email a:hover {
    opacity: 0.7;
}

.cv__link {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px 35px;
    border-radius: 30px;
    font-size: 14px;
    background-color: #009e66 !important;
    border: 1px solid #009e66 !important;
    color: #fff;
}

.cv__link:hover,
.cv__link:focus {
    opacity: 0.7;
}

.about__card {
    background-color: #161616;
    border-bottom: 2px solid transparent;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .2);
    padding: 38px 42px;
    transition: all .15s ease-in-out;
    border-bottom: 2px solid transparent;
}

.about__card:hover {
    border-bottom: 2px solid var(--primaryC);

}

.card__logo {
    color: var(--primaryC);
    font-size: 50px;
    margin-bottom: 10px;
}

.card__heading {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -.5px;
    margin-bottom: 14px;
}

.card__para {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.95;
}

.testi__img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.testi__img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.testi__card {
    background-color: #161616;
    padding: 48px 40px;
    position: relative;
    margin: 0 15px;
}

.testi__card::after {
    content: '\f10e';
    position: absolute;
    right: 40px;
    top: 40px;
    color: var(--primaryC);
    font-size: 50px;
    font-family: FontAwesome;
}

.testi__detail {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
}

.testi__name {
    color: #efefef;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.testi__title {
    color: #888;
    font-size: 14px;
    font-weight: 400;
}

.testi__para {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.95;
}

.plan__card {
    background-color: #161616;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
    padding: 50px 0;
    text-align: center;
}

.plan__logo {
    font-size: 50px;
    color: var(--primaryC);
    margin-bottom: 20px;
}

.plan__heading {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.plan__price {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 22px;
    line-height: 1.2;
}

.plan__list {
    margin-bottom: 20px !important;
    overflow-x: hidden !important;
}

.plan__list__text {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.5;
}

.testi__dots {
    display: flex;
    justify-content: center;
    width: 100% !important;
    margin-top: 25px;
}

.slick__slider {
    overflow-x: hidden !important;
}

.slick-list {
    padding: 0 !important;
}

.slick-dots {
    display: flex !important;
    gap: 10px !important;
    align-items: center;
}

.slick-dots button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    text-indent: 1000px;
    border: none;
}

.slick-active button {
    background: var(--primaryC);
}

/* ============= about section start ============= */

/* ================ resume section end ============== */
#resume {
    background: var(--bg);
}

.resume__card {
    background-color: #161616;
    border-left: 2px solid var(--primaryC);
    padding: 32px 48px;
    position: relative;
}

.resume__card::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 0;
    top: 40px;
    background: var(--primaryC);
    border-radius: 0 10px 10px 0;
}

.resume__heding__head {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 500;
}

.resume__card__details {
    font-size: 14px;
    line-height: 1.95;
    font-weight: 400;
    margin-bottom: 10px;
}

.resume__description {
    font-size: 14px;
    line-height: 1.95;
    font-weight: 400;
}

.resume__items:not(:last-child) {
    border-bottom: 1px solid #313131;
}

.skill__main {
    background: var(--praColor);
    height: 14px;
    width: 100%;
    position: relative;
    border-radius: 3px;
    /* margin-bottom: 40px; */
}

.skill__bg {
    background: var(--primaryC);
    height: 100%;
    width: 90%;
    border-radius: 3px;
}

.skill__text {
    position: absolute;
    top: -20px;
    left: 5px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.skill__text p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.vskill__footer__heading {
    font-size: 31px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 13px;
}

.skill__footer__para {
    font-size: 16px;
    line-height: 2;
    color: var(--praColor);
    font-weight: 400;
}

.office__vedio {
    background: url(../images/myOffice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.office__vedio a:hover {
    opacity: 0.8;
}

.play__btn {
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px var(--primaryC);
}

.vbox-container {
    background: rgba(0, 158, 103, 0.3);
}

.vbox-content {
    width: 100%;
    height: 80vh;
}

.venoratio {
    width: 100%;
    height: 100%;
}

/* ============= resume section start ============= */

/* ================ portfolio" section end ============== */
#portfolio {
    background: var(--bg);
}

.list__btn {
    cursor: pointer;
    transition: all linear 0.3s;
}

.list__btn:hover {
    color: var(--primaryC);
    border-bottom: 1px solid var(--primaryC);
}

.list__btn.btn__active {
    color: var(--primaryC);
    border-bottom: 1px solid var(--primaryC);
}

.portfolio__img {
    position: relative;
    height: 250px;
}

.portfolio__img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.portfolio__overly {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.portfolio__img:hover .portfolio__overly {
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.portfolio__link {
    background: rgba(0, 158, 103, 0.9);
    color: #fff;
    padding: 8px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 400;
}

.portfolio__link:hover,
.portfolio__link:focus {
    opacity: 1;
}

/* ============= portfolio" section start ============= */

/* ================ blog section end ============== */
#blog {
    background: var(--bg);
}

.blog__img {
    position: relative;
}

.blog__date {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--primaryC);
    padding: 10px 15px;
}

.blog__date h6 {
    margin-bottom: 0;
}

.blog__link {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1px;
    color: #fff;
}

.blog__para {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

/* ============= blog section start ============= */

/* ================ contact section end ============== */
#contact {
    background: var(--bg);
}

.form input,
textarea {
    border: none !important;
    padding: 15px 25px !important;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 var(--primaryC);
}

.form input,
textarea {
    background: #161616 !important;
    color: #fff !important;
    caret-color: var(--primaryC);
}

.form input::placeholder,
textarea::placeholder {
    color: #777 !important;
}

.form__btn {
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: var(--primaryC);
    color: #fff;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.form__btn:hover {
    opacity: 0.8;
}

.form__heading {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.form__para {
    font-size: 14px;
    line-height: 1.95;
    font-weight: 400;
}

.info__detail {
    border-left: 2px solid rgba(255, 255, 255, .15);
    padding: 12px 0 12px 22px;
    border-left: 1px solid var(--primaryC);

}

.info__logo {
    font-size: 30px;
    color: var(--primaryC);
}

.info__title a {
    color: var(--praColor);
}

.info__title a:hover {
    opacity: 0.8;
}

.info__name {
    margin-bottom: 15px;
}

.error__msg {
    padding: 10px 0 0 15px;
}

/* ============= contact section start ============= */
.slick-slider .slick-track, .slick-slider .slick-list {
    margin: 10px  0;
}